.App {
  width: 100%;
  text-align: center;
}

/*html, body, .charsets {
  width: 100%;
}
*/

.charsets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.charset {
  flex: 0 1 auto;
  padding: 2px;
}

.char {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1.2em;
}

.charset input {
  width: 17px;
  height: 15px;
}
