.App {
  width: 100%;
  text-align: center;
}

/*html, body, .charsets {
  width: 100%;
}
*/

textarea {
  width: 500px;
  height: 100px;
  font-size: 16px;
}

.charLine {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3px;
  border-top: 1px solid #000000;
}

.charLine:last-child {
  border-bottom: 1px solid #000000;
}

.charSet {
  flex: 0 1 auto;
  padding: 2px;
}

.char {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1.2em;
}

.charSet input {
  width: 15px;
  height: 25px;
  padding: 0;
}
